body {
    font-family: Arial, sans-serif;
    aspect-ratio: 1 / 1;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 15px;

}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #eee;
    padding: 10px;
    text-align: center;
}

#timer{
    font-size: 48;
    font-weight: bold;
    margin-bottom: 20;
}

#box{
    width: 120px;
    height: 50px;
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}

#box:focus {
    outline: none;
}

#teamBox {
    width: auto;
    height: 25px;
    color: white;
    background-color: blue;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    gap: 30px;
    background-color: #eee;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #eee;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    text-align: center;
}

#teamsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}