*:root {
    --Roboto: "Roboto", sans-serif;

    --accent: #3891A6;
    --accent2: #DDAA22;
    --light: #EDEEC0;
    --dark: #4C5B5C;
    --alert: #ff5555;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100lvh;
    overflow: hidden;
    background: var(--dark);

    transition: background 250ms;
}

body, .cgrid {
    display: grid;
    place-items: center;
}

#timer {
    position: absolute;
    top: calc(1rem + (100lvh - 100vh));
    padding-inline: 0.5rem;

    left: 50%;
    transform: translateX(-50%);
    
    font-family: var(--Roboto);
    font-size: 2.5rem;
    font-weight: bold;
    
    background: var(--light);
    color: var(--dark);
    border-radius: 0.5rem;

    transition: color 125ms;
}

#box{
    width: 150px;
    height: 150px;
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}

#box:focus {
    outline: none;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: #eee;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #eee;
}

#card-stack {
    position: relative;
    justify-content: center;
    width: 15rem;
    aspect-ratio: 7/10;
}

.game-card {
    --cooldown: 100;

    position: absolute;
    inset: 0;
    width: 100%;
    touch-action: none;
    list-style: none;
    border-radius: 2rem;
    padding: 1.25rem;
    box-sizing: border-box;
    text-align: center;

    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    
    font-family: var(--Roboto);
    font-size: 2rem;
    font-weight: bold;
    background: var(--light);
    box-shadow: 0.1rem 0.1rem 0.5rem #0005;
    color: var(--dark);

    &::after {
        content: "";
        position: absolute;
        inset: 0.5rem;

        border-radius: 1.5rem;
        padding: 0.25rem; /* border thickness */

        background: conic-gradient(var(--dark) calc(var(--cooldown) * 1%), var(--accent) 0%);

        -webkit-mask:
            linear-gradient(#000 0 0) padding-box,
            linear-gradient(#000 0 0) content-box;
        -webkit-mask-composite: xor;
    }

    &.play-skip-anim::after {
        animation: skippable ease-in-out alternate infinite 250ms;
    }
}

@keyframes skippable {
    0%   {background: var(--accent);}
    100% {background: var(--alert);}
}